@media(min-width: 992px) {
    .detail_article {
        height: 100vh;
        display: grid;
        grid-template-rows: 100px auto auto;
        // grid-gap: 20px;
        
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 10%;
            margin-right: 10%;
            .deskripsi {
                color: #007acc;
                font-size: 2em;
                font-weight: bold;
                text-transform: unset;
            }
    
            .diupdate {
                color: #807d7d;
                font-size: smaller;
            }
        }
    
        .nuxt-content {
            text-align: justify;
            margin-top: 40px;
            margin-left: 10%;
            margin-right: 10%;

            .list {
                display: flex;
                flex-direction: column;
                background-color: aquamarine;
                padding: 10px;
                border-left: 4px solid #1aa073;
                list-style: square !important;
                padding-left: 0px;

                li.isi-list {
                    margin-left: 30px;
                }
            }
    
            p {
                font-size: 16px;
            }
            
            h1 {
                color: #007acc;
                font-weight: 900;
                font-size: 21px;
            }

            h2 {
                font-weight: bold;
                color: #007acc;
                font-weight: 900;
                font-size: 18px;
            }
            
            blockquote {
                background-color: lightgrey;
                border-left: 6px solid grey;
                padding: 10px;
                margin-bottom: 20px;
            }
            
            .teks-arab {
                font-family: cursive;
                font-size: 25px;
            }

            .teks-latin {
                font-size: medium;
                font-style: italic;
            }

            ul {
                list-style: disc;
            }
            
            ol {
                list-style: decimal;
                text-decoration: underline;
                font-weight: bold;
            }
    
            strong {
                color: #007acc;
            }
        }

        .footer {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 10px;

            a.referensi {
                font-style: italic;
                color: #007acc;
                // font-weight: bold;
            }
        }
    
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .detail_article {
        height: 100vh;
        display: grid;
        grid-template-rows: 100px auto auto;
        // grid-gap: 20px;
        
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 10%;
            margin-right: 10%;
            .deskripsi {
                color: #007acc;
                font-size: 2em;
                font-weight: bold;
                text-transform: unset;
            }
    
            .diupdate {
                color: #807d7d;
                font-size: smaller;
            }
        }
    
        .nuxt-content {
            text-align: justify;
            margin-top: 20px;
            margin-left: 10%;
            margin-right: 10%;

            .list {
                display: flex;
                flex-direction: column;
                background-color: aquamarine;
                padding: 10px;
                border-left: 4px solid #1aa073;
                list-style: square !important;
                padding-left: 0px;

                li.isi-list {
                    margin-left: 30px;
                }
            }
    
            p {
                font-size: 16px;
            }
            
            h1 {
                color: #007acc;
                font-weight: 900;
                font-size: 21px;
            }

            h2 {
                font-weight: bold;
                color: #007acc;
                font-weight: 900;
                font-size: 18px;
            }
            
            blockquote {
                background-color: lightgrey;
                border-left: 6px solid grey;
                padding: 10px;
                margin-bottom: 20px;
            }
            
            .teks-arab {
                font-family: cursive;
                font-size: 25px;
            }

            .teks-latin {
                font-size: medium;
                font-style: italic;
            }

            ul {
                list-style: disc;
            }
            
            ol {
                list-style: decimal;
                text-decoration: underline;
                font-weight: bold;
            }
    
            strong {
                color: #007acc;
            }
        }

        .footer {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 10px;

            a.referensi {
                font-style: italic;
                color: #007acc;
                // font-weight: bold;
            }
        }
    
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .detail_article {
        height: 100vh;
        display: grid;
        grid-template-rows: 100px auto auto;
        // grid-gap: 20px;
        
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 10%;
            margin-right: 10%;
            .deskripsi {
                color: #007acc;
                font-size: 2em;
                font-weight: bold;
                text-transform: unset;
            }
    
            .diupdate {
                color: #807d7d;
                font-size: smaller;
            }
        }
    
        .nuxt-content {
            text-align: justify;
            margin-top: 20px;
            margin-left: 10%;
            margin-right: 10%;

            .list {
                display: flex;
                flex-direction: column;
                background-color: aquamarine;
                padding: 10px;
                border-left: 4px solid #1aa073;
                list-style: square !important;
                padding-left: 0px;

                li.isi-list {
                    margin-left: 30px;
                }
            }
    
            p {
                font-size: 16px;
            }
            
            h1 {
                color: #007acc;
                font-weight: 900;
                font-size: 21px;
            }

            h2 {
                font-weight: bold;
                color: #007acc;
                font-weight: 900;
                font-size: 18px;
            }
            
            blockquote {
                background-color: lightgrey;
                border-left: 6px solid grey;
                padding: 10px;
                margin-bottom: 20px;
            }
            
            .teks-arab {
                font-family: cursive;
                font-size: 25px;
            }

            .teks-latin {
                font-size: medium;
                font-style: italic;
            }

            ul {
                list-style: disc;
            }
            
            ol {
                list-style: decimal;
                text-decoration: underline;
                font-weight: bold;
            }
    
            strong {
                color: #007acc;
            }
        }

        .footer {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 10px;

            a.referensi {
                font-style: italic;
                color: #007acc;
                // font-weight: bold;
            }
        }
    
    }
}

@media (min-width: 480px) and (max-width: 599px) {
    .detail_article {
        height: 100vh;
        display: grid;
        grid-template-rows: 100px auto auto;
        // grid-gap: 20px;
        
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 10%;
            margin-right: 10%;
            .deskripsi {
                color: #007acc;
                font-size: 24px;
                font-weight: bold;
                text-transform: unset;
            }
    
            .diupdate {
                color: #807d7d;
                font-size: smaller;
            }
        }
    
        .nuxt-content {
            text-align: justify;
            margin-top: 20px;
            margin-left: 10%;
            margin-right: 10%;

            .list {
                display: flex;
                flex-direction: column;
                background-color: aquamarine;
                padding: 10px;
                border-left: 4px solid #1aa073;
                list-style: square !important;
                padding-left: 0px;

                li.isi-list {
                    margin-left: 30px;
                }
            }
    
            p {
                font-size: 16px;
            }
            
            h1 {
                color: #007acc;
                font-weight: 900;
                font-size: 21px;
            }

            h2 {
                font-weight: bold;
                color: #007acc;
                font-weight: 900;
                font-size: 18px;
            }
            
            blockquote {
                background-color: lightgrey;
                border-left: 6px solid grey;
                padding: 10px;
                margin-bottom: 20px;
            }
            
            .teks-arab {
                font-family: cursive;
                font-size: 25px;
            }

            .teks-latin {
                font-size: medium;
                font-style: italic;
            }

            ul {
                list-style: disc;
            }
            
            ol {
                list-style: decimal;
                text-decoration: underline;
                font-weight: bold;
            }
    
            strong {
                color: #007acc;
            }
        }

        .footer {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 10px;

            a.referensi {
                font-style: italic;
                color: #007acc;
                // font-weight: bold;
            }
        }
    
    }
}

@media (min-width: 321px) and (max-width: 479px) {
    .detail_article {
        height: 100vh;
        display: grid;
        grid-template-rows: 100px auto auto;
        // grid-gap: 20px;
        
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 10px;
            margin-right: 10px;
            .deskripsi {
                color: #007acc;
                font-size: 20px;
                font-weight: bold;
                text-transform: unset;
            }
    
            .diupdate {
                color: #807d7d;
                font-size: smaller;
            }
        }
    
        .nuxt-content {
            text-align: justify;
            margin-top: 20px;
            margin-left: 10px;
            margin-right: 10px;

            .list {
                display: flex;
                flex-direction: column;
                background-color: aquamarine;
                padding: 10px;
                border-left: 4px solid #1aa073;
                list-style: square !important;
                padding-left: 0px;
                font-size: 14px;

                li.isi-list {
                    margin-left: 30px;
                }
            }
    
            p {
                font-size: 14px;
            }
            
            h1 {
                color: #007acc;
                font-weight: 900;
                font-size: 18px;
            }

            h2 {
                font-weight: bold;
                color: #007acc;
                font-weight: 900;
                font-size: 16px;
            }
            
            blockquote {
                background-color: lightgrey;
                border-left: 6px solid grey;
                padding: 10px;
                margin-bottom: 20px;
                font-size: 14px;
            }
            
            .teks-arab {
                font-family: cursive;
                font-size: 18px;
            }

            .teks-latin {
                font-size: 14px;
                font-style: italic;
            }

            ul {
                list-style: disc;
            }
            
            ol {
                list-style: decimal;
                text-decoration: underline;
                font-weight: bold;
                margin-left: 20px;
            }
    
            strong {
                color: #007acc;
            }
        }

        .footer {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 10px;

            a.referensi {
                font-style: italic;
                color: #007acc;
                // font-weight: bold;
                font-size: 14px;
            }
        }
    
    }
}

@media (max-width: 320px) {
    .detail_article {
        height: 100vh;
        display: grid;
        grid-template-rows: 100px auto auto;
        // grid-gap: 20px;
        
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 10px;
            margin-right: 10px;
            .deskripsi {
                color: #007acc;
                font-size: 20px;
                font-weight: bold;
                text-transform: unset;
            }
    
            .diupdate {
                color: #807d7d;
                font-size: smaller;
            }
        }
    
        .nuxt-content {
            text-align: justify;
            margin-top: 20px;
            margin-left: 10px;
            margin-right: 10px;

            .list {
                display: flex;
                flex-direction: column;
                background-color: aquamarine;
                padding: 10px;
                border-left: 4px solid #1aa073;
                list-style: square !important;
                padding-left: 0px;
                font-size: 14px;

                li.isi-list {
                    margin-left: 30px;
                }
            }
    
            p {
                font-size: 14px;
            }
            
            h1 {
                color: #007acc;
                font-weight: 900;
                font-size: 18px;
            }

            h2 {
                font-weight: bold;
                color: #007acc;
                font-weight: 900;
                font-size: 16px;
            }
            
            blockquote {
                background-color: lightgrey;
                border-left: 6px solid grey;
                padding: 10px;
                margin-bottom: 20px;
                font-size: 14px;
            }
            
            .teks-arab {
                font-family: cursive;
                font-size: 18px;
            }

            .teks-latin {
                font-size: 14px;
                font-style: italic;
            }

            ul {
                list-style: disc;
            }
            
            ol {
                list-style: decimal;
                text-decoration: underline;
                font-weight: bold;
                margin-left: 20px;
            }
    
            strong {
                color: #007acc;
            }
        }

        .footer {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 10px;

            a.referensi {
                font-style: italic;
                color: #007acc;
                // font-weight: bold;
                font-size: 14px;
            }
        }
    
    }
}

pre[class*="language-"] {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
}

@media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }