@media(min-width: 992px) {
    .detail_article {
        height: 100vh;
        display: grid;
        grid-template-rows: 100px auto auto;
        // grid-gap: 20px;
        
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 10%;
            margin-right: 10%;
            .deskripsi {
                color: #00de93;
                font-size: 2em;
                font-weight: bold;
            }
    
            .diupdate {
                color: #807d7d;
                font-size: smaller;
            }
        }
    
        .nuxt-content {
            text-align: justify;
            margin-top: 40px;
            margin-left: 10%;
            margin-right: 10%;
    
            p:nth-of-type(1) {
                text-indent: 20px;
            }
    
            h1 {
                color: #00de93;
                font-weight: 900;
                font-size: 21px;
            }

            .teks-arab {
                font-family: cursive;
                font-size: 25px;
            }

            .teks-latin {
                font-size: medium;
                font-style: italic;
            }

            ol {
                list-style: unset;
            }
    
            strong {
                color: #00de93;
            }
        }

        .footer {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 10px;

            a.referensi {
                color: #00de93;
                font-weight: bold;
            }
        }
    
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .detail_article {
        height: 100vh;
        display: grid;
        grid-template-rows: 100px auto auto;
        // grid-gap: 20px;
        
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 10%;
            margin-right: 10%;
            .deskripsi {
                color: #00de93;
                font-size: 2em;
                font-weight: bold;
            }
    
            .diupdate {
                color: #807d7d;
                font-size: smaller;
            }
        }
    
        .nuxt-content {
            text-align: justify;
            margin-top: 20px;
            margin-left: 10%;
            margin-right: 10%;
    
            p:nth-of-type(1) {
                text-indent: 20px;
            }
    
            h1 {
                color: #00de93;
                font-weight: 900;
                font-size: 21px;
            }

            .teks-arab {
                font-family: cursive;
                font-size: 25px;
            }

            .teks-latin {
                font-size: medium;
                font-style: italic;
            }

            ol {
                list-style: unset;
            }
    
            strong {
                color: #00de93;
            }
        }

        .footer {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 10px;

            a.referensi {
                color: #00de93;
                font-weight: bold;
            }
        }
    
    }
}